
/* General */
body {
    font-family: 'Poppins', sans-serif;
}
h3,
h4,
h5 {
    color:#031B4E;
}

p {
    color: #4A5D82;
}

#ms_header-jambotron,
#ms_main-clients,
#ms_deployment,
#ms_designed-developers,
#ms_features-needs,
#ms_region-service {
    padding:50px 0;
}
#ms_main-clients .ms_text-color-brightblu,
#ms_main-clients .ms_text-color-brightblu .fa-chevron-right,
#ms_features-needs .ms_text-color-brightblu,
#ms_features-needs .ms_text-color-brightblu .fa-chevron-right{
    font-size: 90%;
}
#ms_main-clients .ms_text-color-brightblu .fa-chevron-right,
#ms_features-needs .ms_text-color-brightblu .fa-chevron-right{
    padding-left: 5px;
}


.ms_text-color-brightblu{
    color: #0C65FE
}
.ms_text-color-gray {
    color: #b8cbff;
}
.ms_text-color-white {
    color:white;
}
.ms_text-small {
    font-size: 70%;
}



/* NAV */

.ms_navbar {
    margin-bottom:0;
    background-color: #FFFF;
    border-color: #FFFF;
    color: #031B4E;
    font-size: 13px;
}
.ms_navbar .navbar-form{
    padding: 0;
}
.ms_navbar-header>.navbar-brand {
    padding: 10px;
}
.ms_navbar-header>.navbar-brand>img {
    height: 100%;
    margin-right: 10px;
}
.ms_navbar .navbar-toggle {
    border: 0;
}
.ms_navbar .navbar-toggle .icon-bar{
    background-color: #0C65FE;
}
.ms_navbar .btn-default {
    color: #0C65FE;
    background-color: transparent;
    border-color: #0C65FE;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.ms_navbar .btn-default:hover{
    color: #F3F5FA;
    background-color: #0C65FE;
}

/* Jambotron */
#ms_header-jambotron{
    margin-top: 50px;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}
.ms_jambotron-container-white{
    background-color: white;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ms_jambotron-container-white>h4{
    margin-top:0;
}

.ms_jambotron-container-white button{
    position:relative;
}
.ms_jambotron-container-white .btn-primary{
    background-color:#5e9dff;
    border-color:#5e9dff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.ms_jambotron-container-white .btn-primary:hover{
    background-color:#3f87fc;
    border-color:#3f87fc;
}
.ms_jambotron-container-white .btn-default{
    transition: all 0.3s;
}
.ms_jambotron-container-white .btn-default:hover{
    border-color:#e6e6e6;
}

.ms_jambotron-container-white img{
    position: absolute;
    top: 50%;
    left:2%;
    transform: translateY(-50%);
    width: 5%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* MAIN */
/* Logos */
#ms_main-clients{
    background-color: #F3F5FA;
}
.ms_logo-container {
    text-align: center;
    height: 150px;
    line-height:150px;
}

.ms_logo-container>img{
    width: 100%;
    vertical-align:middle;
}

/* Deployment */
.ms_deployment-list{
    list-style:none;
    margin-top: 30px;
    padding: 5px 0 5px 15px;
    border-left: 2px solid #4A5D82;
    color: #4A5D82;
}
.ms_deployment-list li:not(:last-child){
   margin-bottom: 15px; 
}

.ms_features-container {
    margin-top: 30px;
}

/* Designed for developers */
#ms_designed-developers{
    background-color: #F3F5FA;
}
#ms_designed-developers figure{
    display:inline-block;
    width: 100%;
    margin: 30px 10px;
    
}

.ms_slide-whow{
    position:relative;
}
#ms_designed-developers .fa-chevron-left{
    position: absolute;
    top:50%;
    left:17%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #b8cbff;
}
#ms_designed-developers .fa-chevron-right{
    position: absolute;
    top:50%;
    right:17%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #031B4E;
}

.ms_figure-container img{
    width: 50%;
}
.ms_figure-container figcaption{
    color:#031B4E;
    font-size: 80%;
    margin-top:5px;
}

/* Features Needed */
.ms_features-container img{
    margin-bottom:20px;
}

/* Region Services */
#ms_region-service {
    background-image: linear-gradient(45deg, #00219c,#0048c5);
}

#ms_region-service .ms_region-speed-table {
    margin-top: 20px;
    
}
#ms_region-service .ms_region-speed-table>tbody>tr>td{
    border-top: 0;
    border-bottom: 1px solid #ddd;
}














/* Media Quaries */
@media all and (max-width:  767px) {

    .ms_logo-container>img {
        padding: 10px 0;
    }
    #ms_designed-developers .fa-chevron-right,
    #ms_designed-developers .fa-chevron-left{
        display:none;
    }
}

@media all and (max-width: 991px) {

    .ms_navbar-header{
        float: none;
    }
    .ms_logo-container>img {
        line-height:100px;
    }

    .ms_navbar-header .navbar-toggle{
        margin-right: 0px;
    }

}

@media all and (min-width: 1200px) {

    .ms_navbar-header>.navbar-brand>img {
        margin-right: 40px;
    }
}
